<p-dialog [(visible)]="showModal" [header]="title()" [modal]="true" [style]="{}" styleClass="p-fluid content" (onHide)="onHide()">
    <ng-template pTemplate="content">
        <!-- <ng-content select="boby" /> -->
         <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime sint necessitatibus est voluptatem nihil vitae cumque suscipit ipsam! Unde repudiandae tempora quibusdam nostrum. Velit vitae sit nam nulla laboriosam totam.
         Suscipit, porro voluptatem pariatur ducimus libero a, aliquam totam autem quas laborum, numquam nulla dolorum saepe accusantium! Labore vitae, quaerat aut, deserunt ducimus consectetur eum nostrum assumenda quisquam, modi odio.</p>
    </ng-template>
    
    <ng-template pTemplate="footer">

    </ng-template>    
</p-dialog>
