<!-- <section class="header">
    <button (click)="addUser()">Add Andy</button>
    <img width="120" src="./assets/logo-01.png" />
  </section>
  <app-user-list [users]="users" />
  <p highlight background-color="green" base-color="purple" [title]="title">Hello la famille</p>
  <a no-open href="https://google.com">Google !</a> 
  <a confirm confirm-message="Etes-vous sûre de vouloir aller sur cette page ?" href="https://twitter.com">Twitter !</a>
  <a confirm confirm-message="Etes-vous sûre de vouloir effectuer cette action ?" (click)="alert()" style="cursor: pointer;">Button</a>
<hr>
<button class="toggle-button" (click)="showMore.set(!showMore())">{{ showMore() ? "Collapse" : "Expand" }} Banner</button>
<banner-witget [(expand)]="showMore" />
<hr>
<app-parent-counter /> -->

<!-- <div style="height: 300px; border: 1px solid #eee">
  <as-split [useTransition]="true" unit="percent" [gutterSize]="5">
    <as-split-area [size]="60" [order]="1" [visible]="keepLeft">
      <p>Some Data Sidenav</p>
    </as-split-area>
    <as-split-area [size]="40" [order]="2" [visible]="true">
      <button class="collapse-btn" (click)="onClick()">Add</button>
      Some Content
    </as-split-area>
  </as-split>
</div> -->
<!-- <button (click)="gotoVideo()">Video</button>
<button (click)="gotoPhone()">Phone</button> -->
<!-- <router-outlet />  -->
 <form [formGroup]="testForm">
  <div class="row">
   <input-widget id="name" label="Name" type="text" formControlName="name">
    @if (testForm.controls['name'].hasError('required')) {
      <mat-error slot="error">
        Veuillez renseigner ce champ.
      </mat-error>
    }
   </input-widget>
  </div>
   <input-widget id="age" label="Age" type="number" formControlName="age" />
   <input-widget id="date" label="Start date" type="date" formControlName="startDate" />
 </form>
 {{ testForm.value | json }}
 <button type="button" (click)="onShowFormValue()">Show form value</button>
<!-- <button type="button" (click)="go()">Add to map</button> -->
<p-calendar dateFormat="dd/mm/yy" [(ngModel)]="selectedDate" (onSelect)="onShowSelectedDate($event)" styleClass="mt-5" />
<ul class="mt-5">
    <li *ngFor="let row of productDetails | keyvalue">{{row.key}}: {{row.value}}</li>
  
</ul>
 
<!-- @if(show()) {
<app-progres />
}

<button type="button" (click)="show.set(!show())">{{ show() ? "Hidden" : "Show" }}</button> 

<label for="">File</label>

<input type="file" (change)="onChange($event)" />  -->
