<section class="header">
    <button (click)="addUser()">Add Andy</button>
    <img width="120" src="./assets/logo-01.png" />
  </section>
  <app-user-list [users]="users" />
  <p highlight background-color="green" base-color="purple" [title]="title">Hello la famille</p>
  <a no-open href="https://google.com">Google !</a> 
  <a confirm confirm-message="Etes-vous sûre de vouloir aller sur cette page ?" href="https://twitter.com">Twitter !</a>
  <a confirm confirm-message="Etes-vous sûre de vouloir effectuer cette action ?" (click)="alert()" style="cursor: pointer;">Button</a>