<p-toast />
<ngx-spinner bdColor ="rgba(51,51,51,0.8)"
   size ="medium"
   color ="#fff"
   type ="ball-scale-multiple"> 
  <p style ="font-size: 20px; color: white">Chargement...</p> 
</ngx-spinner>

<!-- <app-user-list /> -->

<button type="button" class="btn btn-primary" (click)="show()">show toast message</button>

<base-modal [showModal]="showModal()">
  <div select="boby">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sunt laboriosam alias excepturi soluta nihil quis vel molestias neque adipisci molestiae nesciunt libero repellendus eum aut, suscipit omnis, numquam earum?
    Aut assumenda praesentium quae dicta et quaerat sed hic fugit ea! Illo nostrum assumenda, architecto ad quis dignissimos culpa laboriosam placeat id et, dolores, mollitia praesentium blanditiis aperiam iusto animi!
    Eius accusantium quis veniam ullam veritatis repellendus, eos rerum eaque? Dicta aspernatur recusandae delectus, ullam aliquam necessitatibus minus deserunt ab aperiam odit repellendus nemo nisi consequuntur animi culpa nostrum ut.
    Assumenda, ullam commodi. Dicta, hic labore! Eum quas, sapiente non unde mollitia quisquam aspernatur modi, debitis nisi ratione nihil eveniet enim. Blanditiis laudantium ab sapiente earum qui deleniti magni! Aspernatur?
    Fuga maxime dolores asperiores distinctio voluptas sequi non, unde quod quae libero provident soluta ab quos laboriosam praesentium vel fugit iure quaerat. Quae pariatur inventore debitis repellat ratione, et placeat.
    Doloremque, magnam ad architecto, tenetur a laudantium et ipsa pariatur explicabo molestiae iusto, modi nam necessitatibus illo iure cupiditate praesentium laboriosam possimus voluptatem perspiciatis earum veniam expedita laborum. Sapiente, minus?
    Sequi molestias placeat, amet perferendis aut sit aspernatur explicabo labore unde voluptas itaque natus non quibusdam repellendus repellat, debitis quos? Voluptas quia provident facere obcaecati, corrupti optio maiores vel sed?
    Aperiam et modi iure voluptate ratione alias sed obcaecati, explicabo porro quo nobis, eveniet laboriosam impedit atque nihil nesciunt autem numquam debitis voluptates rem iste sunt nemo accusamus provident! Quam!
    Saepe voluptatibus facere molestiae eaque dolores vitae sequi ipsum illum. Voluptatum placeat molestias consequatur quidem libero repellat, non assumenda nostrum autem laborum, eveniet sint! Sequi iure laborum accusantium consequuntur culpa.
    Cumque fugit voluptatem repudiandae suscipit dolores quasi nostrum earum, magnam, maxime sapiente praesentium perferendis tempore iste accusamus laboriosam vero veritatis obcaecati sequi. Blanditiis dolorum officiis excepturi asperiores, saepe aliquam vel.
    Veritatis provident ipsum optio nulla nisi, dicta voluptates ut deleniti sapiente inventore animi tenetur reiciendis quas numquam obcaecati eveniet dignissimos laboriosam? Explicabo voluptas nisi reiciendis nobis necessitatibus reprehenderit ratione corrupti.
    Sunt veniam nihil iure perferendis eveniet nam beatae autem obcaecati! Voluptas animi ea illo. Odio distinctio natus, officia iste neque, possimus repudiandae, magni molestiae eos earum inventore porro amet ratione.
    Animi totam ullam iure dolore dolorum doloribus nulla laboriosam, distinctio velit eveniet quidem illo nostrum dicta, sit quaerat veritatis officiis ipsa temporibus esse quam cumque quo. Id consequatur adipisci facilis.
    Provident maxime quas nemo iste adipisci vero dignissimos dolor, impedit eveniet consequatur, autem officiis, quibusdam fugiat enim. Maiores harum quidem quisquam dicta a nesciunt est, voluptates, dolore dolorem fugiat laudantium.
    Vitae magnam nisi totam id ipsam necessitatibus mollitia consequatur nesciunt cumque, sit sint nulla molestiae rerum iure nihil magni doloremque est iste, asperiores iusto officiis enim modi. Quod, fuga sint.
    Deserunt, blanditiis pariatur esse natus, quibusdam praesentium corrupti dignissimos inventore veniam, hic tempora autem possimus. Molestiae natus ducimus laboriosam non. Placeat, veritatis recusandae. Rerum laboriosam ducimus, nihil magnam blanditiis ipsum!
    Amet vitae omnis inventore hic incidunt iusto velit nobis corporis deleniti provident vel totam explicabo quae beatae rerum, aspernatur officiis nostrum quibusdam sed! Maiores ratione aliquid nisi earum voluptates blanditiis.
    Ipsa repellat perferendis numquam iusto explicabo voluptate quos. Rem ut vel recusandae ad maxime veniam non adipisci ea, laudantium repellendus nam quidem, et accusantium alias labore similique animi voluptatibus assumenda.
    Officiis quisquam dignissimos ut cumque neque, expedita possimus! Dolor non nesciunt excepturi laboriosam consequatur, soluta quae. Iusto minus nostrum et, similique vitae necessitatibus temporibus, dicta sunt eum nesciunt numquam quam?
    Ad odio, rerum enim, veritatis voluptas atque dolor aliquid voluptatum repudiandae accusantium nulla excepturi tempore laboriosam commodi at error et quia provident recusandae illo nam aperiam molestiae expedita. Tempore, eius?
    Vero tenetur facere sit. Eligendi possimus officia ex dolore sequi? Corporis, accusamus dolorem saepe suscipit ullam dignissimos. Quis ex ipsam dolore a officiis sed, ratione maiores neque atque. Eligendi, quas.
    Enim laudantium doloremque eos voluptates debitis exercitationem voluptatem fugiat sunt, accusamus a aliquid error atque animi reprehenderit ducimus ab maiores nostrum, temporibus quos nam ipsam. Iusto iste repudiandae eveniet repellendus.
    Quis iusto tempore fuga molestiae velit dolorem culpa corrupti quos omnis ducimus delectus quas hic vero ullam, recusandae voluptatibus quod amet excepturi exercitationem nisi ad accusantium, odio cumque. Rem, accusamus!
    Dolorum autem eos at excepturi laborum quis vero molestias accusamus temporibus suscipit fugit amet blanditiis voluptatum delectus est earum praesentium, nobis ullam consequatur explicabo, tempore id, corrupti cumque. Facere, cupiditate.
    Quis minima dolores eum recusandae adipisci esse quas iusto repellat quod, consectetur mollitia reiciendis ipsa et ducimus excepturi quisquam consequuntur. Explicabo distinctio totam voluptas ea labore nisi velit nulla quidem.
  </div>
</base-modal>