<div>
    <p>Counter value: <strong>{{ counter() }}</strong></p>
    <div class="d-flex flex-row gap-2">
        <button class="btn btn-primary" (click)="onIncrement()">Increment</button>
        <button class="btn btn-primary" (click)="onDecrement()" [disabled]="isDesc()">Decrement</button>
    </div>
    <div class="d-flex flex-column align-items-center gap-2 hello">
        <p class="para flex-fill">Counter value : <strong>{{ counter() }}</strong></p>
        <p class="para">Counter value : <strong>{{ counter() }}</strong></p>
    </div>
</div>
<div class="">
    
  </div>
  