:host {
    width: 100%;
  
    .container {
      display: flex;
      flex-direction: column;
      gap: 4px;
  
      label {
        font-size: 10px;
        letter-spacing: 0.15rem;
        text-transform: uppercase;
        color: #6354B0;
  
        &.required::after {
          content: "*"
        }
      }
  
      input {
        height: 40px;
        padding: 5px 10px;
        border-radius: 4px;
        border: none;
        background: #F5F8F9;
        outline-color: #6354B0;
        color: #50595f;
  
        &::placeholder {
          color: #b6b6b6;
        }
      }
    }
  
    .error-container {
      margin-top: 4px;
      height: 15px;
    }
  
    &.ng-untouched.ng-invalid .error-container error-widget {
      display: none;
    }
  
    &.ng-touched.ng-invalid input {
      border: 2px solid #f87171;
    }
  }